about-time==3.1.1
absl-py==1.4.0
aiosignal==1.3.1
alive-progress==2.4.1
appdirs==1.4.4
arch==4.19
astunparse==1.6.3
attrs==22.1.0
autograd==1.5
backcall==0.2.0
blis==0.9.1
cachetools==4.2.4
catalogue==2.0.8
catboost==1.1.1
catkin==0.8.10
cdifflib==1.2.5
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
cma==2.7.0
cmdstanpy==1.0.8
colorama==0.4.5
confection==0.0.1
contourpy==1.0.7
convertdate==2.4.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.30
dask==2022.7.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.5.1
distlib==0.3.6
distributed==2022.7.1
dm-tree==0.1.8
docopt==0.6.2
dtw-python==1.3.0
dynamixel_sdk==3.7.51
einops==0.5.0
en-core-web-sm==3.4.0
ephem==4.1.4
esig==0.9.7
et-xmlfile==1.1.0
etils==0.6.0
eyeD3==0.9.5
ezodf==0.3.2
fastai==2.7.10
fastcore==1.5.27
fastdownload==0.0.7
fastprogress==1.0.3
filelock==3.8.2
filetype==1.0.8
filterpy==1.4.5
flatbuffers==1.12
fonttools==4.38.0
fr-core-news-sm==3.4.0
frozenlist==1.3.3
fsspec==2022.5.0
gast==0.4.0
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gluonts==0.11.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
GPy==1.10.0
gpytorch==1.9.0
grapheme==0.6.0
graphviz==0.20.1
grpcio==1.51.1
h5py==3.7.0
HeapDict==1.0.1
HEBO==0.3.2
hijri-converter==2.2.4
hmmlearn==0.2.8
holidays==0.18
hurst==0.0.5
idna==3.3
imageio==2.19.2
imbalanced-learn==0.10.0.dev0
importlib-metadata==4.12.0
importlib-resources==5.8.0
ipython==7.29.0
jedi==0.18.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kaggle==1.5.12
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.51.0
keras-tuner==1.1.0
kerastuner-tensorboard-logger==0.2.3
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
kt-legacy==1.0.4
langcodes==3.3.0
libclang==14.0.1
linear-operator==0.3.0
llvmlite==0.38.1
locket==1.0.0
LunarCalendar==0.0.9
lxml==4.6.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.3
matrixprofile==1.1.10
mlxtend==0.19.0
mne==1.3.0
msgpack==1.0.4
murmurhash==1.0.8
natsort==8.2.0
networkx==2.5.1
nltk==3.7
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.0
odfpy==1.4.1
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.2
pandas-ods-reader==0.1.4
paramz==0.9.5
parso==0.8.2
partd==1.2.0
pathy==0.6.2
patsy==0.5.2
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.11
pkgutil_resolve_name==1.3.10
platformdirs==2.6.0
plotly==4.1.1
pmdarima==2.0.2
pooch==1.6.0
preshed==3.0.7
promise==2.3
prompt-toolkit==3.0.22
property-cached==1.6.4
prophet==1.1.1
protobuf==3.19.6
psutil==5.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
-e git+https://github.com/tyiannak/pyAudioAnalysis.git@37dc22f34bf1a579a9e95adbb0e8118062d69c2e#egg=pyAudioAnalysis
pydantic==1.9.2
pydot==1.4.2
pydub==0.24.0
pygame==2.1.2
Pygments==2.10.0
pykalman==0.9.5
PyMeeus==0.5.12
pymoo==0.5.0
pyod==1.0.7
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.19.2
python-dateutil==2.8.2
python-slugify==5.0.2
pyts==0.12.0
pytz==2022.7
PyWavelets==1.3.0
PyYAML==6.0
ray==2.1.0
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
retrying==1.3.3
rosgraph==1.15.14
roslib==1.15.8
rospy==1.15.14
rsa==4.9
scikeras==0.6.0
scikit-image==0.19.2
scikit-learn==1.2.0
scikit-posthocs==0.7.0
scipy==1.10.0
seaborn==0.11.2
sensor-msgs==1.13.1
setuptools-git==1.2
six==1.15.0
sklearn==0.0.post1
sktime==0.15.1
smart-open==5.2.1
sortedcontainers==2.4.0
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.4
statsforecast==1.4.0
statsmodels==0.13.5
stumpy==1.8.0
tabulate==0.9.0
tbats==1.1.2
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.9.0
tensorflow-probability==0.19.0
tensorflow-text==2.9.0
termcolor==1.1.0
text-unidecode==1.3
thinc==8.1.1
threadpoolctl==3.1.0
tifffile==2022.5.4
toml==0.10.2
toolz==0.12.0
torch==1.12.1
torchsummary==1.5.1
torchtext==0.13.1
torchvision==0.13.1
torchviz==0.0.2
tornado==6.1
tqdm==4.64.1
traitlets==5.1.1
tsai==0.3.4
tsfresh==0.18.0
tslearn==0.4.1
typer==0.4.2
typing_extensions==4.4.0
urllib3==1.26.11
virtualenv==20.17.1
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==1.0.1
wincertstore==0.2
window-slider==0.8
wrapt==1.14.1
xarray==2022.12.0
yarg==0.1.9
zict==2.2.0
zipp==3.11.0
